<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PersistenciaDestino" value="PostgresEscuela"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServerEscuela" connectionString="Data source=DESKTOP-M01SJ72; Initial catalog=School; Integrated Security=true;"/>
		<add name="PostgresEscuela" connectionString="Host = localhost; Database = School; Username = postgres; Password = 0980051997@KmGp"/>
		<add name="MemoriaEscuela" connectionString="Memoria"/>
	</connectionStrings>
</configuration>
